body {
    background: whitesmoke;
}

#game-name {
    margin-left: 10%;

}

#crossword-container {
    width: 250px;
    height: 250px;
    background: black;
    border: solid;
    margin-left: 10%;
    margin-right: 5%;
}

.flex-container-crossword {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#timer-result {
    height: 250px;
    width: 250px;
    background: pink;
    position: fixed; 
    right: 40%;
    left: 40%;
    top: 10%;
    margin-left: 50px;
}

.flex-container-clues {
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 250px;
    margin-top: 10%;
    margin-left: 10%;
}

#across-clues, #vertical-clues {
    width: 400px;
    height: 250px;
}

.flex-item-blue {
    background-color: whitesmoke;
    height: 45px;
    width: 45px;
}

.number-div {
    background-color: whitesmoke;
    height: 13px;
    width: 13px;
    font-size: small;
}

.input-box {
    width: 45%;
    height: 45%;
    margin-top: 2%;
    margin-left: 20%;
}

.clues-paragraph {
    height: 20px;
    width: 500px;
}

#fifthdiv {
    background: black;
}

#tenthdiv {
    background: black;
}

#sixteenthdiv {
    background: black;
}

#twentyfirstdiv {
    background: black;
}